<div class="popup" *ngIf="showPopup?.show">  <!-- not sure if ? is good solution -->
  <div class="container">
    <div class="row">
      <div id='modal' class="col-8 mx-auto col-md-6 col-lg-4 text-center text-capitalize p-5">
        <h5>Item added to the cart</h5>
        <img src={{product.img}} class='img-fluid' alt='product'/>
        <h4 class='text-blue'>
          {{ product.title }}
        </h4>
        <h4 class='text-blue'>
          <strong>
            price: <span>$ {{ product.price }}</span>
          </strong>
        </h4>
        <!--buttons-->
        <div>
          <button class="cart-btns" (click)="closeModal()">
            continue shopping
          </button>
          <a routerLink='/cart'>
            <button class="cart-btns" data-cart="cart">
              go to the cart
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


