<div class="card">
  <div class="img-container p-5">
    <a routerLink="/details/{{product.id}}">
      <img src={{product.img}} alt="product" class="card-img-top"/>
   </a>
    <button class="cart-btn" [disabled]="product.inCart" (click)="addToCart(product.id)">
      <p class='text-capitalize mb-0' *ngIf="product.inCart; else elseBlock">in cart</p>
      <ng-template #elseBlock><i class='fas fa-cart-plus'></i></ng-template>
    </button>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <p class='align-self-center mb-0'>
      {{product.title}}
    </p>
    <h5 class="text-blue font-italic mb-0">
      <span class='mr-1'>$</span>
      {{product.price}}
    </h5>
  </div>
</div>

